@model Product

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary">Delete Book</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <input asp-for="Id" hidden=""/>
            <div class="border p-3 mt-4">
                <div class="mb-3 row">
                    <label class="p-0 pb-2" asp-for="Title"></label>
                    <input class="form-control" asp-for="Title" disabled="disabled"/>
                </div>
                <div class="mb-3 row p-1">
                    <label class="p-0 pb-2" asp-for="Description"></label>
                    <input class="form-control" asp-for="Description" disabled="disabled" />
                </div>
                <div class="row">
                    <div class="mb-3 col-6 p-1">
                        <label class="p-0 pb-2" asp-for="ISBN"></label>
                        <input class="form-control" asp-for="ISBN" disabled="disabled" />
                    </div>
                    <div class="mb-3 col-6 p-1">
                        <label class="p-0 pb-2" asp-for="Author"></label>
                        <input class="form-control" asp-for="Author" disabled="disabled" />
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-3 p-1">
                        <label class="p-0 pb-2" asp-for="ListPrice"></label>
                        <input class="form-control" asp-for="ListPrice" disabled="disabled"/>
                    </div>
                    <div class="mb-3 col-3 p-1">
                        <label class="p-0 pb-2" asp-for="Price"></label>
                        <input class="form-control" asp-for="Price" disabled="disabled"/>
                    </div>
                    <div class="mb-3 col-3 p-1">
                        <label class="p-0 pb-2" asp-for="Price50"></label>
                        <input class="form-control" asp-for="Price50" disabled="disabled"/>
                    </div>
                    <div class="mb-3 col-3 p-1">
                        <label class="p-0 pb-2" asp-for="Price100"></label>
                        <input class="form-control" asp-for="Price100" disabled="disabled"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3 p-1">
                        <button class="btn btn-danger form-control" type="submit">
                            Delete Category
                        </button>
                    </div>
                    <div class="col-6 col-md-3 text-end">
                        <a asp-area="Admin" asp-controller="Product" asp-action="Index"
                           class="btn btn-outline-primary form-control">
                            Back To List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
