<h1>EditCategory</h1>

@model Product

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary">Edit Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <input asp-for="Id" hidden=""/>
            <div class="border p-3 mt-4">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3 row p-1">
                    <label class="p-0 pb-2" asp-for="Title"></label>
                    <input class="form-control" asp-for="Title"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>    
                <div class="mb-3 row p-1">
                    <label class="p-0 pb-2" asp-for="Description"></label>
                    <input class="form-control" asp-for="Description" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="mb-3 col-6 p-1">
                        <label class="p-0 pb-2" asp-for="ISBN"></label>
                        <input class="form-control" asp-for="ISBN" />
                        <span asp-validation-for="ISBN" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-6 p-1">
                        <label class="p-0 pb-2" asp-for="Author"></label>
                        <input class="form-control" asp-for="Author" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-3 p-1">
                        <label class="p-0 pb-2" asp-for="ListPrice"></label>
                        <input class="form-control" asp-for="ListPrice" />
                        <span asp-validation-for="ListPrice" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-3 p-1">
                        <label class="p-0 pb-2" asp-for="Price"></label>
                        <input class="form-control" asp-for="Price" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-3 p-1">
                        <label class="p-0 pb-2" asp-for="Price50"></label>
                        <input class="form-control" asp-for="Price50" />
                        <span asp-validation-for="Price50" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-3 p-1">
                        <label class="p-0 pb-2" asp-for="Price100"></label>
                        <input class="form-control" asp-for="Price100" />
                        <span asp-validation-for="Price100" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3 p-1">
                        <button class="btn btn-primary form-control" type="submit">
                            Update Category
                        </button>
                    </div>
                    <div class="col-6 col-md-3 text-end">
                        <a asp-area="Admin" asp-controller="Product" asp-action="Index" 
                           class="btn btn-outline-primary form-control">
                            Back To List
                        </a>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
