@model List<Category>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Category List
            </h2>
        </div>        
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="CreateCategory" class="btn btn-primary d-print-flex">
                <ion-icon name="add-outline"></ion-icon>
                Create New Category
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Category ID</th>
            <th scope="col">Category name</th>
            <th scope="col">Display Order</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var obj in Model.OrderBy(i => i.DisplayOrder))
        {
            <tr>
                <th scope="row">@obj.Id</th>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
            </tr>
        }
        </tbody>
    </table>
</div>